<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の編集</h2>
  <form action="/sumabura/update/<%= id %>" method="POST">
    <table>
      <tr><th>項目</th><th>データ</th></tr>
      <tr><td>ID</td><td><input type="text" name="id" value="<%= data.id %>"></td></tr>
      <tr><td>ファイター名</td><td><input type="text" name="name" value="<%= data.name %>"></td></tr>
      <tr><td>登場作品</td><td><input type="text" name="series" value="<%= data.series %>"></td></tr>
      <tr><td>VIP到達難易度</td><td><input type="text" name="nannido" value="<%= data.nannido %>"></td></tr>
    </table>
    <input type="submit" values="登録">
  </form>
  <a href="/sumabura/">ファイター一覧に戻る</a>
</body>
</html>