<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の詳細</h2>
  <table>
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>ID</td><td><%= data.id %></td></tr>
    <tr><td>ファイター名</td><td><%= data.name %></td></tr>
    <tr><td>登場作品</td><td><%= data.series %></td></tr>
    <tr><td>VIP到達難易度</td><td><%= data.nannido %></td></tr>
  </table>
  <a href="/sumabura/edit/<%= id %>">編集</a>
  <a href="/sumabura/delete/<%= id %>" onclick="return confirm('本当に <%= data.name %> を削除しますか？');">削除</a>
  <a href="/sumabura">ファイター一覧に戻る</a>
</body>
</html>